.footer {
  color: #545454;
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 67px auto 60px;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
}

.footer__copyright {
  margin: 0;
  font-family: "Inter", "Times New Roman", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 536px) {
  .footer {
    margin-bottom: 36px;
    padding-left: 16px;
    margin-top: 48px;
    max-width: 320px;
  }

  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}
