.card {
  display: flex;
  flex-direction: column;
  width: 282px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.card__title {
  color: black;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Inter", "Times New Roman", serif;
  max-width: 193px;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
}

.card__text {
  display: flex;
  justify-content: space-between;
  background: white;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
}

.card__image {
  height: 282px;
  width: 282px;
  z-index: 0;
  cursor: pointer;
}

.card__delete-button {
  background: transparent url("../images/delete-icon.svg") no-repeat;
  height: 19.3px;
  width: 18px;
  background-size: 18px 19.3px;
  position: absolute;
  top: 18px;
  right: 15px;
  border: none;
  cursor: pointer;
}

.card__heart-button {
  height: 21px;
  width: 18px;
  justify-content: flex-end;
  align-self: center;
  background: transparent url("../images/heart.svg") no-repeat;
  background-size: 18px 21px;
  border: none;
  margin: 0 20px 0;
  padding: 0;
  transition: opacity 0.35s;
  flex-shrink: 0;
}

.card__heart-button:not(.card__heart-button_clicked):hover {
  opacity: 0.5;
  cursor: pointer;
}

.card__heart-button_clicked {
  background: transparent url("../images/heart-clicked.svg") no-repeat;
  background-size: 18px 21px;
}
